In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user='little_lemon_user',password='littlelemonQ1?',db='littlelemondb')

In [3]:
cursor = connection.cursor(buffered=True)

In [4]:
show_tables_query = "show tables"
cursor.execute(show_tables_query)
results = cursor.fetchall()
print(results)

[('bookings',), ('customers',), ('menuitems',), ('menus',), ('orderdeliverystatus',), ('orders',), ('ordersview',), ('staff',), ('update_log',)]

In [8]:
#full name and contact details for every customer that has placed an order greater than $60
query = """SELECT c.CustomerName,c.CustomerContact
            FROM Customers AS c
            INNER JOIN Bookings AS b ON b.CustomerID = c.CustomerID
            INNER JOIN Orders AS o ON b.BookingID = o.BookingID
            WHERE CAST(REPLACE(o.TotalCost,'$','') AS DECIMAL) > 60"""
cursor.execute(query)
results = cursor.fetchall()
print(cursor.column_names)
for _ in results:
    print(_)

('CustomerName', 'CustomerContact')
('Jere Ruiz', 8713635863)
('Jermaine Gould', 9937082853)
('Selena Middleton', 4135949062)
('Aurelio Sparks', 6473795618)
('Vicky Rush', 4880060004)
('Adriana Glover', 4607702194)
('Johnnie Spence', 8369993833)
('Margie Hogan', 6424682987)
('Nettie Crosby', 9800596844)
('Chi Byrd', 7938144847)
('Alfonzo Powell', 5328807200)
('Cecile Bradshaw', 8647307228)
('Chi Byrd', 7938144847)
('Vicky Rush', 4880060004)
('Debbie Mahoney', 5261035859)
('Lidia Mays', 4401847856)
('Hans Newman', 6094038478)
('Wilda Flowers', 6909056838)
('Vilma Salas', 3092029985)
('Sallie Cohen', 1943391120)
('Johnnie Spence', 8369993833)
('Malik Wiggins', 7378892914)
('Jay Singh', 7061939773)
('Anita Short', 5056069735)
('Gilberto Fischer', 4766744961)
('Vicky Rush', 4880060004)
('Felix Miles', 6330004643)
('Elsie Glenn', 2308242966)
('Carey Wilkins', 5130932432)
('Fran Barber', 8096240409)
('Malik Wiggins', 7378892914)
('Foster Wu', 1139088467)
('Debra Pennington', 1068634443)
('Jermaine Gould', 9937082853)
('Kasey Parks', 9603290378)
('Wilda Flowers', 6909056838)
('Jodi Chapman', 2328566354)
('Gilberto Fischer', 4766744961)
('Javier Davidson', 6408525816)
('Ollie Frank', 6652432401)
('Isaiah Vaughan', 5451654295)
('Donte Noble', 4510593095)
('Monty Chan', 8693165625)
('Debra Pennington', 1068634443)
('Kendall Rowe', 4843094096)
('Anita Short', 5056069735)
('Johnnie Spence', 8369993833)
('Carmine Cross', 9887125363)
('Foster Wu', 1139088467)
('Roslyn Porter', 2209470951)
('Vicky Rush', 4880060004)
('Kristine Potts', 9161146473)
('Gilberto Fischer', 4766744961)
('Vicky Rush', 4880060004)
('Roscoe Lane', 2180121869)
('Erika Bridges', 3695495032)
('Isaiah Vaughan', 5451654295)
('Kendall Rowe', 4843094096)
('Gilberto Fischer', 4766744961)
('Nettie Crosby', 9800596844)
('Jere Ruiz', 8713635863)
('Malik Wiggins', 7378892914)
('Malik Wiggins', 7378892914)
('Von Thomas', 1681092113)
('Vilma Salas', 3092029985)
('Fran Barber', 8096240409)
('Dave Holloway', 4659681659)
('Hester Schmitt', 2882096985)
('Kermit Newton', 3435860128)
('Selena Middleton', 4135949062)
('Selena Middleton', 4135949062)
('Selena Middleton', 4135949062)
('Chas Waller', 1730052156)
('Malik Wiggins', 7378892914)
('Marian Rodgers', 9791926558)
('Lidia Mays', 4401847856)
('Selena Middleton', 4135949062)
('Ingrid White', 7591147422)
('Vilma Salas', 3092029985)
('Marian Rodgers', 9791926558)
('Anita Short', 5056069735)
('Silvia Stephenson', 8209291840)
('Carey Wilkins', 5130932432)
('Bryan Huang', 1676414617)
('Donte Noble', 4510593095)
('Chas Waller', 1730052156)
('Isaiah Vaughan', 5451654295)
('Chas Waller', 1730052156)
('Debra Pennington', 1068634443)
('Tom Mayo', 1593295380)
('Malik Wiggins', 7378892914)
('Vincent Montgomery', 3475493001)
('Juliana Adams', 8887726434)
('Malik Wiggins', 7378892914)
('Amos Andrade', 7404531205)
('Scot Brady', 1018277627)
('Eric Haas', 5116950633)
('Cecile Bradshaw', 8647307228)
('Erika Bridges', 3695495032)
('Scot Brady', 1018277627)
('Normand Hopkins', 5845142925)
('Malik Wiggins', 7378892914)
('Gilberto Fischer', 4766744961)
('Wiley Werner', 6013614627)
('Autumn Mooney', 8995210418)
('Debbie Mahoney', 5261035859)
('Glen Leblanc', 9545397809)
('Malik Wiggins', 7378892914)
('Adriana Glover', 4607702194)
('Myra Hammond', 4254817037)
('Chi Byrd', 7938144847)
('Kasey Parks', 9603290378)
('Tom Mayo', 1593295380)
('Kendall Rowe', 4843094096)
('Gilberto Fischer', 4766744961)
('Lidia Mays', 4401847856)
('Nettie Crosby', 9800596844)
('Margie Hogan', 6424682987)
('Ingrid White', 7591147422)
('Amos Andrade', 7404531205)
('Adriana Glover', 4607702194)
('Juana Allen', 3829195013)
('Elsie Glenn', 2308242966)
('Alfonzo Powell', 5328807200)
('Vilma Salas', 3092029985)
('Kristy Liu', 9784203431)
('Kristine Potts', 9161146473)
('Dianne Bolton', 5751854463)
('Wiley Werner', 6013614627)
('Vilma Salas', 3092029985)
('Nickolas Sexton', 3219728092)
('Silvia Stephenson', 8209291840)
('Maura Burch', 8163110508)
('Alfonzo Powell', 5328807200)
('Valentine Long', 6828235911)
('Selena Middleton', 4135949062)
('Bette Fitzpatrick', 8607085813)
('Myra Hammond', 4254817037)
('Debra Pennington', 1068634443)
('Elsie Glenn', 2308242966)
('Adriana Glover', 4607702194)
('Chi Byrd', 7938144847)
('Vilma Salas', 3092029985)
('Jay Singh', 7061939773)
('Elsie Glenn', 2308242966)
('Jacqueline Drake', 1557782649)
('Alfonzo Powell', 5328807200)
('Von Thomas', 1681092113)
('Donte Noble', 4510593095)